<div class="main posts-index">
  <!-- Google Map 描画 -->
  <div class="map-field">
    <div id="map" style="width: 100%; height: 400px;"></div>
  </div>
  
  <!-- Google Map 描画 -->
  <div class="container">
    <% @posts.each do |post| %>
      <div class="posts-index-item">
        <div class="post-left">
          <img src="<%= "/user_images/#{post.user.image_name}" %>">
        </div>
        
        <div class="post-right">
          <div class="post-user-name">
            <%= link_to(post.user.name, "/users/#{post.user.id}") %>
          </div>
          <%= link_to(post.content, "/posts/#{post.id}", remote: true) %>
          <div id="post-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
        </div>
      </div>

      <div class="posts-index-contents">
          <div class="contents-left">
            <!-- Google Map 描画 -->
            <div id="map_<%= post.id %>" style="width: 400px; height: 400px;"></div>
            <!-- Google Map 描画 -->
          </div>
          
          <div class="contents-right">
            <!--投稿画像を表示 --!>
            <% if post.image_name %>
              <img src="<%= "/post_images/#{post.image_name}" %>" width="500" height="400">
            <% end %>
          </div>
      </div>
    <% end %>
  </div>

</div>


<!-- Google Map 描画 -->
<script>

  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%= raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      <% if @posts.count == 1 %>
        handler.getMap().setZoom(15);
      <% end %>

  });



<%= i=0 %>
<% @posts.each do |post| %>
  handler_<%= post.id %> = Gmaps.build('Google');
  handler_<%= post.id %>.buildMap({ provider: {}, internal: {id: 'map_<%= post.id %>'}}, function(){
    markers_<%= post.id %> = handler_<%= post.id %>.addMarker(<%= raw @hash[i].to_json %>);
    handler_<%= post.id %>.bounds.extendWith(markers_<%= post.id %>);
    handler_<%= post.id %>.fitMapToBounds();
    handler_<%= post.id %>.getMap().setZoom(15);
  });
  <%= i=i+1 %>
<% end %>

</script>